<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PreNomina.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <PreNomina.Properties.Settings>
            <setting name="Ruta" serializeAs="String">
                <value />
            </setting>
            <setting name="Departamento" serializeAs="String">
                <value />
            </setting>
            <setting name="AnticipoRetardo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Entrada1" serializeAs="String">
                <value>08:00 a.m.</value>
            </setting>
            <setting name="Salida1" serializeAs="String">
                <value>01:00 p.m.</value>
            </setting>
            <setting name="Entrada2" serializeAs="String">
                <value>02:00 p.m.</value>
            </setting>
            <setting name="Salida2" serializeAs="String">
                <value>06:00 p.m.</value>
            </setting>
            <setting name="TiempoLimite" serializeAs="String">
                <value>30</value>
            </setting>
        </PreNomina.Properties.Settings>
    </userSettings>
</configuration>
